<div class="card">
  <div class="text-center">
    <h3>INFORMACIÓN</h3>
  </div>

  @if(entity){ @switch(entityType){ @case ("Persona"){
  <div style="padding: 0.5rem">
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Nombres:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.nombres }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Apellidos:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.apellidos }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Sobre Nombre:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.sobreNombre }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Identificación:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.identificacion }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Telefono:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.telefono }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Celular:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.celular }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Fecha Nacimiento:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.fechaNacimiento }}
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem; display: inline-block"
        >Dirección:</span
      >
      <span
        style="
          font-size: 12px;
          flex: 1;
          word-wrap: break-word;
          display: inline-block;
        "
      >
        {{ entity.informacionPersonal.direccion }}
      </span>
    </div>
  </div>
  } @case ("Buseta"){
  <div style="padding: 0.5rem">
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Nombre:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word"> </span>
      {{ entity.name }}
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Capacidad:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word"> </span>
      {{ entity.capacidad }}
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Descripción:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word"> </span>
      {{ entity.description }}
    </div>
  </div>
  } } } @else{
  <h5 style="text-align: center">NO TIENE INFORMACIÓN SELECCIONADA</h5>
  }

  <!-- @switch ("UsuarioModel") { @case ("UsuarioModel") {
  <div style="padding: 0.5rem">
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Nombres:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        {{ entity.userName }}
      </span>
    </div>
  </div>
  } @default {
  <div style="padding: 0.5rem">
    <span>No info</span>
  </div>
  } } -->

  <!--<div style="padding: 0.5rem">
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Nombres:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        Juan Carlos
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Apellidos:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        Perez Lema
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Dirección:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        Avenida de las americas y Juan montalvo
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Teléfono:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        09865347656
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Cédula:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        0105377466
      </span>
    </div>
    <div class="flex flex-row flex-wrap">
      <span style="font-size: 14px; min-width: 6rem">Correo:</span>
      <span style="font-size: 12px; flex: 1; word-wrap: break-word">
        perdroalvarezgmailcom
      </span>
    </div>
  </div>-->
</div>
