@import 'primeflex/primeflex.css';

.align-right {
    display: flex;
    justify-content: flex-end;
}

.barra-manu{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(0px, auto);

    
}


.dock-window {
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    background-color: rgb(234, 234, 234);
}

.p-dock {
    position: absolute;
    z-index: 1000;
    width: auto;
}