@import 'primeflex/primeflex.css';

.card-table{
    padding: 5px;
}

.container-sidebar{
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    
}