<p-dialog header="Buscar" [modal]="true" [closable]="true">
  <div>
    <p-radioButton
      name="buscarPor"
      value="codigo"
      [(ngModel)]="buscarPor"
      inputId="cod1"
    ></p-radioButton>
    <label for="cod1" class="ml-2"> Codigo </label>
  </div>
  <div>
    <input
      type="text"
      pInputText
      [(ngModel)]="valorBusqueda"
      placeholder="Ingrese el valor de búsqueda"
    />
  </div>
  <div class="mt-3">
    <button pButton label="Buscar" (click)="buscar()" class="mr-2"></button>
    <button pButton label="Cancelar" (click)="cancelar()"></button>
  </div>
</p-dialog>
