@import 'primeflex/primeflex.css';


.container-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 2rem;
    background-color: rgb(237, 237, 237);
    border-radius: 1rem;
    border: red 2px solid ;
}



